header{
    background-color: gainsboro;
    padding: 20px;
    text-align: center;
    color:beige;
}

body{
    margin: 0;
    background-color:antiquewhite
}

 main section{
    border: dashed maroon;
    border-radius: 7px;
    background-color:gainsboro;
    width: 60%;
    margin: 20px auto;
    font-family: Courier;
}
main section h2{
    text-align: center;
    color:beige;
}
main article{
    border:5px dashed maroon;
    border-radius: 0px;
    background-color:gainsboro;
    width: 40%;
    margin: 20px auto;
}
main article h3{
    text-align: center;
    color:beige;
}
main article p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
footer{
    color:red;
    text-align: center;
}
form label{
    color:cadetblue;
    display: block;
}
textarea{
    width: 30%;
    height: 100px;
    border-radius: 10px;
}
input{
    width: 20%;
    padding: 10px;
    border-radius: 10px;
}
button{
    background-color: gainsboro;
    color: cadetblue;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#mainhead{
    text-align: center;
    color:maroon;
    font-size:60px;
    font-family:fantasy;
}
.items{
    list-style: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
    gap:20px;
    font-size:30px;
}
a{
    color: beige;
}